body
{
    padding     : 0px;
    margin      : 0px;
    background  : #333;
    font        : 30px sans-serif;
    color       : #fff;
    overflow    : hidden;
}

.noselect
{
  -webkit-touch-callout : none;
  -webkit-user-select   : none;
  -khtml-user-select    : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  user-select           : none;
}


.battlemap
{
  position          : absolute;
  overflow          : hidden;
  left              : 0px;
  top               : 50%;
  margin-top        : -240px;  
}

.battlemap canvas.foreground
{
  position  : absolute;
  left      : 0px;
  top       : 0px;
}

