/* silkscreen font*/

@font-face
{
    font-family: 'silk';
    src: url('/gfx/slkscr.ttf');
}

@font-face
{
    font-family: 'silkb';
    src: url('/gfx/slkscrb.ttf');
}

/* actual styles for page */

.starter
{
    z-index                 : 1000;
    position                : absolute;
    width                   : 100%;
    height                  : 100%;
}


.starter>table
{
    position                : absolute;
    top                     : 50%;
    margin-top              : -200px;
    left                    : 50%;
    margin-left             : -400px;
    width                   : 800px;
    height                  : 400px;
    border                  : solid #000 4px;
    overflow                : hidden;
    font-smooth             : never;
    -webkit-font-smoothing  : none;
    cursor                  : default;
    background              : #B4B5A1;
    border-collapse         : collapse;
}

.starter>table>tbody>tr>td
{
    vertical-align: top;
    padding: 0;
}

.starter>table>tbody>tr>td:nth-child(1)
{
    width:      15%;
}

.starter>table>tbody>tr>td:nth-child(1)>div
{
    padding:        8px;
    padding-right:  16px;
    font:           16px silkb;
    text-align:     right;
}


.starter>table>tbody>tr>td:nth-child(1) .filler-label
{
    background:     #706E6E;
    height:         100%;
}

/* BRIEF is selected */
.starter>table>tbody>tr>td:nth-child(1)[data-selected='0'] .brief-label
{
    color:      #fff;
    background: #B4B5A1;
}
.starter>table>tbody>tr>td:nth-child(1)[data-selected='0'] .equip-label
{
    border-top-right-radius:    16px;
    background:                 #706E6E;
}

.starter>table>tbody>tr>td:nth-child(1)[data-selected='0'] .escort-label
{
    background: #706E6E;
}

.starter>table>tbody>tr>td:nth-child(1)[data-selected='0'] .deploy-label
{
    background: #706E6E;
}

/* EQUIP is selected */
.starter>table>tbody>tr>td:nth-child(1)[data-selected='1'] .brief-label
{
    border-bottom-right-radius: 16px;
    background: #706E6E;
}

.starter>table>tbody>tr>td:nth-child(1)[data-selected='1'] .equip-label
{
    color:      #fff;
    background: #B4B5A1;
}
.starter>table>tbody>tr>td:nth-child(1)[data-selected='1'] .escort-label
{
    border-top-right-radius:    16px;
    background:                 #706E6E;
}
.starter>table>tbody>tr>td:nth-child(1)[data-selected='1'] .deploy-label
{
    background: #706E6E;
}


/* ESCORT is selected */
.starter>table>tbody>tr>td:nth-child(1)[data-selected='2'] .brief-label
{
    background: #706E6E;
}
.starter>table>tbody>tr>td:nth-child(1)[data-selected='2'] .equip-label
{
    border-bottom-right-radius: 16px;
    background: #706E6E;
}
.starter>table>tbody>tr>td:nth-child(1)[data-selected='2'] .escort-label
{
    color:      #fff;
    background: #B4B5A1;
    
}
.starter>table>tbody>tr>td:nth-child(1)[data-selected='2'] .deploy-label
{
    border-top-right-radius: 16px;
    background: #706E6E;
}

/* DEPLOY is selected */
.starter>table>tbody>tr>td:nth-child(1)[data-selected='3'] .brief-label
{
    background: #706E6E;
}
.starter>table>tbody>tr>td:nth-child(1)[data-selected='3'] .equip-label
{
    background: #706E6E;
}
.starter>table>tbody>tr>td:nth-child(1)[data-selected='3'] .escort-label
{
    border-bottom-right-radius: 16px;
    background: #706E6E;   
}
.starter>table>tbody>tr>td:nth-child(1)[data-selected='3'] .deploy-label
{
    color:      #fff;
    background: #B4B5A1;
}
.starter>table>tbody>tr>td:nth-child(1)[data-selected='3'] .filler-label
{
    border-top-right-radius: 16px;
    background: #706E6E;
}

/* options */

.starter>table>tbody>tr>td:nth-child(2)
{
    width:          85%;
    padding:        8px;
    padding-left:   16px;
    padding-right:   16px;
    background:     #B4B5A1;
    font:           16px silk;
    color:          #fff;
}

.starter>table>tbody>tr>td:nth-child(2)>div
{
    display: none;
}

.starter>table>tbody>tr>td:nth-child(2)[data-selected='0'] .brief,
.starter>table>tbody>tr>td:nth-child(2)[data-selected='1'] .equip,
.starter>table>tbody>tr>td:nth-child(2)[data-selected='2'] .escort,
.starter>table>tbody>tr>td:nth-child(2)[data-selected='3'] .deploy
{
    display: block;
}

.starter>table>tbody>tr>td:nth-child(2) .equip>#clearance,
.starter>table>tbody>tr>td:nth-child(2) .equip>#funds
{
    width           : 50%;
    float           : left;
    margin-bottom   : 4px;
}

.starter>table>tbody>tr>td:nth-child(2) .equip>#funds
{
    text-align: right;
}

.starter>table>tbody>tr>td:nth-child(2) .clear
{
    clear: both;
}

.starter>table>tbody>tr>td:nth-child(2) .equip>#title
{
    margin-bottom:  8px;
    color:          blue;
    font-family:    silkb;
}

.starter>table>tbody>tr>td:nth-child(2) .equip #equip-select>table,
.starter>table>tbody>tr>td:nth-child(2) .escort #escort-select>table
{
    background: #706E6E;
    color: #fff;
    border-collapse: collapse;
}

.starter>table>tbody>tr>td:nth-child(2) .equip #equip-select,
.starter>table>tbody>tr>td:nth-child(2) .escort #escort-select
{
    height      : 260px;
    overflow-y  : scroll;
    border      : 2px #ddd solid;
}


.starter>table>tbody>tr>td:nth-child(2) .equip #equip-select>table>tbody tr td,
.starter>table>tbody>tr>td:nth-child(2) .escort #escort-select>table>tbody tr td
{
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.starter>table>tbody>tr>td:nth-child(2) .equip #equip-select>table>tbody>tr:nth-child(1),
.starter>table>tbody>tr>td:nth-child(2) .escort #escort-select>table>tbody>tr:nth-child(1)
{
    color:  #aaa;
}

.starter>table>tbody>tr>td:nth-child(2) .equip #equip-select>table>tbody>tr:not(:nth-child(1)):nth-child(even),
.starter>table>tbody>tr>td:nth-child(2) .escort #escort-select>table>tbody>tr:not(:nth-child(1)):nth-child(even)

{
    background:  #444;
}

.starter>table>tbody>tr>td:nth-child(2) .equip #equip-select .qty-minus,
.starter>table>tbody>tr>td:nth-child(2) .escort #escort-select .qty-minus
{
    text-align: right;
}

.starter>table>tbody>tr>td:nth-child(2) .equip #equip-select .qty-minus:hover,
.starter>table>tbody>tr>td:nth-child(2) .equip #equip-select .qty-plus:hover,
.starter>table>tbody>tr>td:nth-child(2) .escort #escort-select .qty-minus:hover,
.starter>table>tbody>tr>td:nth-child(2) .escort #escort-select .qty-plus:hover
{
    outline: 2px solid #fff;
}

.starter>table>tbody>tr>td:nth-child(2) .equip #counter-div
{
    color       : #000;
    margin-top  : 8px;
}

.starter>table>tbody>tr>td:nth-child(2) .equip #counter-div img
{
    vertical-align: middle;
}

.starter>table>tbody>tr>td:nth-child(2) .equip #buttons-div
{
    margin-top: 4px;
}

.starter>table>tbody>tr>td:nth-child(2) .equip #buttons-div>table
{
    color           : #fff;
    border-collapse : collapse;
}
.starter>table>tbody>tr>td:nth-child(2) .equip #buttons-div>table>tbody>tr>td:nth-child(2)
{
    text-align: right;
}

/* this doesn't work. you have to do this: http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons/ */
.starter>table>tbody>tr>td:nth-child(2) .equip #checkbox-show-hidden #show-unavailable
{
    background: #ddd;
}

.starter>table>tbody>tr>td:nth-child(2) .equip #buttons-div
{
    text-align: right;
}

.starter>table>tbody>tr>td:nth-child(2) .button
{
    font-family:    silk;
    font-size:      16px;
    color:          #222;
    border:         2px #fff solid;
    border-bottom:  2px #888 solid;
    border-right:   2px #888 solid;
}

.starter>table>tbody>tr>td:nth-child(2) .button:hover
{
    border:         2px #fff solid;
    border-top:     2px #888 solid;
    border-left:    2px #888 solid;
}

/*.starter>table>tbody>tr>td:nth-child(2) .brief
{
    width:          100%;
    height:         100%;
}*/

.starter>table>tbody>tr>td:nth-child(2) .brief .title
{
    color:          blue;
    font-family:    silkb;
    font-size:      16px;
}

.starter>table>tbody>tr>td:nth-child(2) .brief #buttons-div,
.starter>table>tbody>tr>td:nth-child(2) .brief .description,
.starter>table>tbody>tr>td:nth-child(2) .brief #more-intel-1 #more-intel-map
{
    margin-top: 8px;
}

.starter>table>tbody>tr>td:nth-child(2) .brief #buttons-div table
{
    padding:            0px;
    border-collapse:    collapse;
}

.starter>table>tbody>tr>td:nth-child(2) .brief #buttons-div table>tbody>tr>td:nth-child(2)
{
    text-align: right;
}

.starter>table>tbody>tr>td:nth-child(2) .brief #more-intel-1
{
    margin-top: 32px;
}

.starter>table>tbody>tr>td:nth-child(2) .brief #more-intel-1 #more-intel-map
{
    width:      100%;
    height:     80px;
    border:     2px #888 solid;
    background: #706E6E;
}

.starter>table>tbody>tr>td:nth-child(2) .escort .title
{
    float           : left;
    color           : blue;
    font-family     : silkb;
    font-size       : 16px;
    margin-bottom   : 4px;
    width           : 50%;
}

.starter>table>tbody>tr>td:nth-child(2) .escort>#funds
{
    float           : left;
    text-align      : right;
    width           : 50%;
}

.starter>table>tbody>tr>td:nth-child(2) .escort .escort-description
{
    margin-top      : 4px;
}

.starter>table>tbody>tr>td:nth-child(2) .escort .escort-title
{
    margin-top      : 4px;
    color           : #444;
}

.starter>table>tbody>tr>td:nth-child(2) .deploy .deploy-title
{
    font-family     : silkb;
    color           : blue;
}

.starter>table>tbody>tr>td:nth-child(2) .deploy .deploy-log-title
{
    margin-top      : 4px;
    font-family     : silkb;
}

.starter>table>tbody>tr>td:nth-child(2) .deploy .deploy-log
{
    margin-top      : 4px;
    width           : 100%;
    height          : 164px;
    border          : 2px #888 solid;
    background      : #706E6E;
    overflow-y      : scroll;
}

.starter>table>tbody>tr>td:nth-child(2) .deploy .buttons-div
{
    margin-top      : 4px;
    text-align      : right;
    
}