canvas
{
    position: absolute;
    left    : 0;
    top     : 0;
}

body
{
    background  : #222;
    font        : 30px sans-serif;
    color       : #fff;
}

td
{
  width     : 16px;
  height    : 16px;
  display   : block;
  font-size : 0.2em;
  text-align: center;
  color     : #888;
}

.city
{
  background: url('gfx/civiliancenter.png') no-repeat center center fixed !important;
  -webkit-background-size : cover;
  -moz-background-size    : cover;
  -o-background-size      : cover;
  background-size         : cover;
  width                   : 16px;
  height                  : 16px;
}