canvas
{
    position: absolute;
    left    : 0;
    top     : 0;
}

body
{
    background  : #222;
    font        : 30px sans-serif;
    color       : #fff;
}

td
{
  width     : 16px;
  height    : 16px;
  display   : block;
  font-size : 0.2em;
  text-align: center;
  color     : #888;
}

.map_city
{
  width     : 16px;
  height    : 16px;
  display   : block;
  background: #ff0;
}

.map_base
{
  width     : 16px;
  height    : 16px;
  display   : block;
  background: #f00;
}