canvas
{
    position: absolute;
    left    : 0;
    top     : 0;
}

body
{
    background  : #222;
    font        : 30px sans-serif;
    color       : #fff;
}

.city
{
  background: url('scraps/portals.bmp') -120px 0px;
}

.base
{
  background: url('scraps/land.bmp') -360px 0px;
}

div.map span
{
  width       : 24px;
  height      : 24px;
  display     : inline-block;
  font-size   : 12px;
  line-height : 2em; 
  text-align  : center;
  color       : #421;
}


.r0   { background: url('gfx/road.png') -0px; }
.r1   { background: url('gfx/road.png') -24px; }
.r2   { background: url('gfx/road.png') -48px; }
.r3   { background: url('gfx/road.png') -72px; }
.r4   { background: url('gfx/road.png') -96px; }
.r5   { background: url('gfx/road.png') -120px; }
.r6   { background: url('gfx/road.png') -144px; }
.r7   { background: url('gfx/road.png') -168px; }
.r8   { background: url('gfx/road.png') -192px; }
.r9   { background: url('gfx/road.png') -216px; }
.r10  { background: url('gfx/road.png') -240px; }