div
{
  margin-left : 180;
}

ol
{
  float         : left;
  max-width     : 280;
  margin-right  : 10;
  position      : fixed;
}

ol li
{
  cursor  : pointer;
}

.selected
{
  color       : #a34;
  font-weight : bold;
}

.hide
{
  display : none;
}

body
{
  font-family : sans-serif;
  font-size   : 12px;
}

pre
{
  color : #172;
}